<style>
    form {
      position: fixed;
      top: 20px; /* Adjust this value to move the bar higher */
      right: 150px;
      z-index: 1000;
    }
    
    input[type="text"] {
      width: 250px; /* Adjust this value to make the input field shorter */
    }
  </style>
  
  <form class="md:flex hidden flex-row flex-wrap items-center lg:ml-auto mr-3" (ngSubmit)="recherche()">
    <div class="relative flex w-full flex-wrap items-stretch">
      <span class="z-10 h-full leading-snug font-normal absolute text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
        <i class="fas fa-search"></i>
      </span>
      <input [(ngModel)]="termeDeRecherche" [ngModelOptions]="{standalone: true}" (input)="recherche()" type="text" placeholder="Search here..." class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm shadow outline-none focus:outline-none focus:ring w-full pl-10" />
    </div>
  </form>
  
  <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">
    <div class="rounded-t bg-white mb-0 px-6 py-6">
      <div class="text-center flex justify-between">
        <h6 class="text-blueGray-700 text-xl font-bold">Reclamation Details</h6>
        <button class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150" type="button" [routerLink]="['/admin/reclamation-add']">
          Ajouter une réclamation
        </button>
      </div>
    </div>
    <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
      <table class="w-full mb-6">
        <thead>
          <tr>
            <th class="px-4 py-2">#</th>
            <th class="px-4 py-2">Content</th>
            <th class="px-4 py-2">Piece</th>
            <th class="px-4 py-2">State</th>
            <th class="px-4 py-2">Date réclamation</th>
            <th class="px-4 py-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reclamation of reclamations; let i = index">
            <td class="border px-4 py-2">{{ i + 1 }}</td>
            <td class="border px-4 py-2">{{ reclamation.contenu }}</td>
            <td class="border px-4 py-2">{{ reclamation.piece }}</td>
            <td class="border px-4 py-2">{{ reclamation.staterec }}</td>
            <td class="border px-4 py-2">{{ reclamation.date }}</td>
            <td class="border px-4 py-2">
              <button class="bg-green-500 text-white active:bg-green-600 font-bold uppercase text-xs px-2 py-1 rounded shadow hover:shadow-md outline-none focus:outline-none mr-2 ease-linear transition-all duration-150" type="button" [routerLink]="['/admin/reclamation-update', reclamation.id_reclamation]">
                Modifier
              </button>
              <button class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-xs px-2 py-1 rounded shadow hover:shadow-md outline-none focus:outline-none mr-2 ease-linear transition-all duration-150" type="button" (click)="deleteReclamation(reclamation.id_reclamation)">
                Supprimer
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  